[user]
	email = justin@mistywest.com
	name = Justin Lam
[core]
	editor = vim
	compression = 1
    pager = delta
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[interactive]
    diffFilter = delta --color-only
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = store
[push]
	default = current
[alias]
    a = add
    au = add -u
    ap = add -p
	cm = commit -m
    ca = commit --amend
    co = checkout
    cob = checkout -b
	pf = push --force-with-lease
	s = status
    d = diff
    ds = diff --staged
	hist = log --all --decorate --oneline --graph
	undo = reset HEAD^1
	unstage = reset HEAD --
[difftool]
	prompt = false
[delta]
    features = side-by-side line-numbers
    side-by-side = true
    line-numbers = true
