[user]
	email = justin@mistywest.com
	name = Justin Lam
[core]
	editor = vim
	compression = 1
    pager = delta
[merge]
    tool = vscode
[mergetool "vscode"]
    cmd = code --wait $MERGED
[diff]
    tool = vscode
[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE
[credential]
	helper = store
[push]
	default = current
[alias]
	cm = commit -m
	pf = push --force-with-lease
	s = status
	ca = commit --amend
    d = diff
    ds = diff --staged
	hist = log --all --decorate --oneline --graph
	undo = reset HEAD^1
	unstage = reset HEAD --
[difftool]
	prompt = false
[delta]
    features = side-by-side line-numbers
    side-by-side = true
    line-numbers = true
